In [1]:
import zipfile
zipfile.ZipFile('data_files.zip').extractall()

In [2]:
import imageio as iio
import matplotlib.pyplot as plt
import os
import pandas as pd
import numpy as np
import random
import pickle

directory = "poke_photos/"
pokemon_names = []
pokemon_photos = []
# pil = []

In [3]:
for filename in os.listdir(directory):
    # Stores names of each pokemon
    name = os.path.splitext(filename)[0]
    pokemon_names.append(name)
    # Stores the images of each pokemon - matrix representation
    im = iio.imread(directory + filename)
    pokemon_photos.append(im)

In [4]:
# Data Frame with corresponding names and image matrix
images = pd.DataFrame(columns = ('Name', 'Image_Mat'))
images['Name'] = pokemon_names
images['Image_Mat'] = pokemon_photos
# images['PIL'] = pil

# Sort based on names and reset index
images = images.sort_values("Name", ascending = True).reset_index(drop = True)
images

                Name                                          Image_Mat
0          abomasnow  [[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0...
1               abra  [[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0...
2              absol  [[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0...
3           accelgor  [[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0...
4    aegislash-blade  [[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0...
..               ...                                                ...
804          zoroark  [[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0...
805            zorua  [[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0...
806            zubat  [[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0...
807         zweilous  [[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0...
808       zygarde-50  [[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0...

[809 rows x 2 columns]

In [5]:
# Pokemon info data set
pokemon_data = pd.read_csv('pokemon_to_photos.csv')
pokemon_data = pokemon_data.sort_values("Name", ascending = True).reset_index(drop = True)

pokemon_data

                Name    Type1   Type2
0          abomasnow    Grass     Ice
1               abra  Psychic     NaN
2              absol     Dark     NaN
3           accelgor      Bug     NaN
4    aegislash-blade    Steel   Ghost
..               ...      ...     ...
804          zoroark     Dark     NaN
805            zorua     Dark     NaN
806            zubat   Poison  Flying
807         zweilous     Dark  Dragon
808       zygarde-50   Dragon  Ground

[809 rows x 3 columns]

In [6]:
# Combined the two datasets
pokemon_data['Image_Mat'] = images['Image_Mat']
pokemon_data

,Name,Type1,Type2,Image_Mat
0,abomasnow,Grass,Ice,"[[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0..."
1,abra,Psychic,NaN,"[[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0..."
2,absol,Dark,NaN,"[[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0..."
3,accelgor,Bug,NaN,"[[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0..."
4,aegislash-blade,Steel,Ghost,"[[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0..."
...,...,...,...,...
804,zoroark,Dark,NaN,"[[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0..."
805,zorua,Dark,NaN,"[[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0..."
806,zubat,Poison,Flying,"[[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0..."
807,zweilous,Dark,Dragon,"[[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0..."
808,zygarde-50,Dragon,Ground,"[[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0..."

In [7]:
# To view the image of the pokemon
def view_pokemon(val) :
    print("Pokemon: " + pokemon_data['Name'][val])
    plt.imshow(pokemon_data['Image_Mat'][val])

# view_pokemon(0)

In [8]:
# Each image has a height/width of 120 and a dimension of 4
# image size: 57600
# max RGB value: 255
# min RBG valeue: 0

# print(pokemon_data['Image_Mat'][0])
# print(pokemon_data['Image_Mat'][1].min())
# print(pokemon_data['Image_Mat'][2].max())
# print(pokemon_data['Image_Mat'][3].shape)
# print(pokemon_data['Image_Mat'][4].shape)
pokemon_data['Image_Mat'][9][0][0]

Array([0, 0, 0, 0], dtype=uint8)

In [9]:
with open('data.pickle', 'wb') as f:
    pickle.dump(pokemon_data, f)

## TESTING

In [10]:
# random.seed(500)
# k1 = random.choice(mean)
# k2 = random.choice(mean)
# k3 = random.choice(mean)
# k4 = random.choice(mean)

# k1,k2,k3,k4

In [11]:
# #
# kt = []

# for i in pokemon_data['Image_Mat']:
#     kt.append(np.mean(i, axis = (0,1)))
    
# kt

In [12]:
# x = range(0,809)
# len(x)
# plt.plot(kt, x, marker = ".")